@font-face {
    font-family: 'junction_regularregular';
    src: url('../fonts/Junction-webfont.eot');
    src: url('../fonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Junction-webfont.woff') format('woff'),
         url('../fonts/Junction-webfont.ttf') format('truetype'),
         url('../fonts/Junction-webfont.svg#junction_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: Georgia, Garamond, Times, serif;
}

h1, h2, h3, h4, p {
	margin-top: 0;
}
h2, h3 {
	font-family: 'junction_regularregular', Helvetica, sans-serif;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 20px;
	margin-top: 40px;
}
a {
	text-decoration: none;
}

.contain { 			/*Select all elements whose class attributes include 'contain'*/
	width: 940px;
	margin: 0 auto; /*TBLR or Top and bottom*/
}

.visually-hidden {
	position: fixed;
	top: -999px;
}
/*clear fixes*/
#content-wrapper:after,
#body-footer .contain:after,
#product-list:after {
	content: "";
	display: table;
	clear: both;
}

#body-header {		/*Select all elements whose id attributes equals 'body-header'*/
	margin-bottom: 16px;
}
#body-header a {
	width: 222px;
	display: block;
	margin: 0 auto;
}

#body-header h1 {
	margin-top: 40px;
	margin: 0;
}

#primary-nav {
	border-top: solid 1px #cfcfcf;
	border-bottom: solid 1px #cfcfcf;
	color: #cfcfcf;
	text-align: center;
	height: 37px;
}

#primary-nav a:link,
#primary-nav a:visited {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
	font: normal 18px/40px 'junction_regularregular';
	display: inline-block;
	margin-right: 33px;
}

#primary-nav a:link:last-of-type{
	margin-right: 0;
}

#primary-nav a:hover {
	color: #2f2e46;
	border-top: solid 3px #2f2e46;
	margin-top: -3px;
}
#content-wrapper{
	margin-top: 40px; /*push content-wrapper down from whatever lies above it*/
}
#content {
	width: 700px;
	float: left;
}

.columned {
	text-align: justify;

	-webkit-column-count: 2;
	-moz-column-count: 2;
	-ms-column-count: 2;
	-o-column-count: 2;
	column-count: 2;

	-webkit-column-gap: 55px;
	-moz-column-gap: 55px;
	-ms-column-gap: 55px;
	-o-column-gap: 55px;
	column-gap: 55px;

	-webkit-column-width: 300px;
}
#body-footer {
	background: linear-gradient(to bottom, rgba(0,0,0,.08), rgba(0,0,0,0) 6px), url("../images/footer-bg.png");
	border-top: solid 1px #cfcfcf;
	padding: 36px 0;
	margin-top: 25px;
}

#body-footer p{
	width: 220px;
	margin: 0 20px 0 0;
	display: inline-block;
	float: left;
}

#body-footer p:last-of-type {
	margin-right: 0;
}

#body-footer p:last-of-type img {
	width: 100%;
	opacity: .17;
}
.secondary-nav a {
	display: block;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 87.5%;
	color: #4c4c4c;
	margin-bottom: 18px;
	text-decoration: none;
	position: relative;
}
.secondary-nav a:hover:before {
	content: "\00BB";
	margin-right: 5px;
	position: absolute;
	left: -13px;
	top: -1px;
}
#sidebar .secondary-nav a {
	font-size: 100%;
	color: rgb(170, 169, 186);
}
#sidebar {
	width: 220px;
	float: right;
}
.sidebartitle {
	font-family: 'junction_regularregular', serif;
	font-size: 18px;
	border-bottom: solid 1px #cfcfcf;
	color: #333366;
} 
#search input, button{
	margin-bottom: 40px;
	color: #999999;
	height: 30px;
	background-color: #ffffff;
	border: solid 1px #d8e3e8;
	display: inline;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#search input {
	width: 154px;
} 

/*PRODUCT LIST*/

#product-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#product-list li {
	float:left;
	width: 220px;
	height: 220px;
	margin: 0 20px 20px 0;
	display: inline-block;
	position: relative;
}

#product-list li:nth-of-type(3n) {
	margin-right: 0;
}

#product-list li:hover:after {
	content: "";
	display: inline-block;
	width: 220px;
	height: 220px;
	position: absolute;
	background-color: #aaaaaa;
	z-index: 1;
	top: 0;
	/*width measured for button*/
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-radial-gradient(110px 110px, circle closest-side, rgba(0,0,0,.08) 0%, rgba(0,0,0,.36) 100%);
	background: -webkit-gradient(110px 110px, circle closest-side, rgba(0,0,0,.08) 0%, rgba(0,0,0,.36) 100%);
	background: -webkit-radial-gradient(110px 110px, circle closest-side, rgba(0,0,0,.08) 0%, rgba(0,0,0,.36) 100%);
	background: -o-radial-gradient(110px 110px, circle closest-side, rgba(0,0,0,.08) 0%, rgba(0,0,0,.36) 100%);
	background: -ms-radial-gradiententer(110px 110px, circle closest-side, rgba(0,0,0,.08) 0%, rgba(0,0,0,.36) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient (110px 110px, circle closest-side, rgba(0,0,0,.08) 0%, rgba(0,0,0,.36) 100%);.gradient( startColorstr='#fcfcfc', endColorstr='#adadad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	pointer-events: none;	
}

#product-list h2,
#product-list p {
	font-size: 100%;
	font-family: 'junction_regularregular';
	color: #f4f4f4;
	text-decoration: none;
	text-align: center;
	width: 100%;
}
#product-list h2 {
	position: absolute; top: 11px;
}
#product-list p {
	font-size: 87.5%;
	position: absolute; bottom: 10px;
}
#product-list span {
	position: absolute; bottom: 52px; left: 61px;
	display: block;
	width: 97px;
	height: 27px;
	background-color: #ffffff;
	text-transform: uppercase;
	margin: auto;
	line-height: 28px;
	text-align: center;
	text-decoration: none;
	font-family: 'junction_regularregular';
	color: #565656;
	font-size: 75%;
	vertical-align: text-middle;
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,.28);
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.28);
	-ms-box-shadow: 2px 2px 5px rgba(0,0,0,.28);
	-o-box-shadow: 2px 2px 5px rgba(0,0,0,.28);
	border-top: 1px solid #dbdbdb;
	border-right: 1px solid #616161; 
	border-bottom: 1px solid #616161;
	border-left: 1px solid #dbdbdb;
}
#product-list h2,
#product-list p,
#product-list span {
	z-index: 2;
	visibility: none;
}
#product-list img{
	visibility: visible;
}
#product-list a {
	visibility: hidden;
}
#product-list li:hover>a {
	visibility: visible;
}

